<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
	<runtime>
		<!-- consider removing everythign except what is added directly, not what is inherited (which is nothing)-->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- stripe, newtonsoft file versions increment, but assembly versions are stable -->
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<!-- ecommerce paypal-payflowpro, references to 4.3.1.0, assembly v 4.3.1.0, will not run without -->
			<dependentAssembly>
				<assemblyIdentity name="Payflow_dotNET" publicKeyToken="14aa1e8d77f2a97c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
			</dependentAssembly>
			<!-- early build of ContensiveBaseModels had assembly version, should be set to 4.1.2.0 compatibility -->
			<dependentAssembly>
				<assemblyIdentity name="ContensiveDbModels" publicKeyToken="c014b235a9c6bb22" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-20.0.0.0" newVersion="20.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
