<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings />
  <system.diagnostics>
      <sources>
          <!-- This section defines the logging configuration for My.Application.Log -->
          <source name="DefaultSource" switchName="DefaultSwitch">
              <listeners>
                  <add name="FileLog" />
                  <!-- Uncomment the below section to write to the Application Event Log -->
                  <!--<add name="EventLog"/>-->
              </listeners>
          </source>
      </sources>
      <switches>
          <add name="DefaultSwitch" value="Information" />
      </switches>
      <sharedListeners>
          <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
          <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
          <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
      </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <!-- stripe, newtonsoft file versions increment, but assembly versions are stable -->
		  <dependentAssembly>
			  <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
		  </dependentAssembly>		  
		  <!-- ecommerce paypal-payflowpro, references to 4.3.1.0, assembly v 4.3.1.0, will not run without -->
		  <dependentAssembly>
			  <assemblyIdentity name="Payflow_dotNET" publicKeyToken="14aa1e8d77f2a97c" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
		  </dependentAssembly>
		  <!-- early build of ContensiveBaseModels had assembly version, should be set to 4.1.2.0 compatibility -->
		  <dependentAssembly>
			  <assemblyIdentity name="ContensiveDbModels" publicKeyToken="c014b235a9c6bb22" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-20.0.0.0" newVersion="20.0.0.0" />
		  </dependentAssembly>
	  </assemblyBinding>
  </runtime>
</configuration>
