@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

@{
    string adminSite = "";
    using (var cp = new Contensive.Processor.CPClass("app210530")) {
        cp.CdnFiles.Append("coreAppTest.log", DateTime.Now.ToString() + "-privacy, adminSite\r\n");
        adminSite = cp.executeRoute("/admin");
    }
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h1>@adminSite</h1>
