<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections />
	<appSettings>
		<!--
		To change the Contensive App Name, or change the default CORS origin from * to a specific url, 
		create an appSettings.config file with the follow:
			<appSettings>
				<add key="ContensiveAppName" value=""/>
				<add key="DefaultCORSAllowOrigin" value="https://app.myApp.com"/>
			</appSettings>
			
		and change the line below to reference that file.
			<appsettings configSource="appSettings.config"/>
		-->
		<!-- used in default.aspx. If blank, the iis site name is used. -->
		<add key="ContensiveAppName" value="" />
		<!-- used in default.aspx. If no other CORS rule generated programmatically, CORS headers are added with this origin. If blank, * used. -->
		<add key="DefaultCORSAllowOrigin" value="" />
	</appSettings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">			
		<assemblies>
        <remove assembly="ClearScriptV8-64" />
        <remove assembly="ClearScriptV8-32" />
      </assemblies></compilation>
		<httpRuntime requestPathInvalidCharacters="" maxRequestLength="50000000" executionTimeout="3600" targetFramework="4.5" requestValidationMode="2.0" relaxedUrlToFileSystemMapping="true" />
		<pages validateRequest="false" />
		<customErrors mode="Off" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<!-- allow robots.txt route handline. Remove to use static robots.txt file -->
			<add name="RobotsText" path="robots.txt" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
		<httpErrors errorMode="Detailed" />
		<validation validateIntegratedModeConfiguration="false" />
		<defaultDocument>
		  <files>
			<remove value="index.php" />
			<remove value="default.aspx" />
			<add value="default.aspx" />
		  </files>
		</defaultDocument>
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
		  <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
		  <dynamicTypes>
			<add mimeType="text/*" enabled="true" />
			<add mimeType="message/*" enabled="true" />
			<add mimeType="application/x-javascript" enabled="true" />
			<add mimeType="application/json" enabled="true" />
			<add mimeType="*/*" enabled="false" />
		  </dynamicTypes>
		  <staticTypes>
			<add mimeType="text/*" enabled="true" />
			<add mimeType="message/*" enabled="true" />
			<add mimeType="application/x-javascript" enabled="true" />
			<add mimeType="application/atom+xml" enabled="true" />
			<add mimeType="application/xaml+xml" enabled="true" />
			<add mimeType="*/*" enabled="false" />
		  </staticTypes>
		</httpCompression>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
		<httpProtocol>
			<!-- to add CORS headers, use appsettings above to allow programmatic CORS headers. If you uncomment this, disable the CORS section in default.aspx
			<customHeaders>
				<add name="Access-Control-Allow-Credentials" value="true" />
				<add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,PATCH,OPTIONS" />
				<add name="Access-Control-Allow-Origin" value="http://diagnostics.staging-vivos.sitefpo.com" />
				<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type,soapaction, Accept, Authorization" />
			</customHeaders>
			-->
		</httpProtocol>
		<!-- uncomment to allow 
			- rewrite to forward http to https 
			- forward naked domain to www (only for simple www and naked domain case. If other domains are used, do not use.

		<rewrite>
			<rules>
				<rule name="forward http to https" stopProcessing="false">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
				</rule>
				<rule name="Redirect naked domains to www" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_HOST}" negate="true" pattern="^www\." />
					</conditions>
					<action type="Redirect" url="https://www.{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
		-->
	</system.webServer>
  <runtime>
      <!-- 
        copy from processor\...\bin\...\processor.dll.config
      -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NUglify" publicKeyToken="15bc7810aec21b5e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.12.3.0" newVersion="1.12.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceProcess.ServiceController" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
      <!-- 
        manually added
      -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- needed for SixLabor image, but it does not automatically include -->
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <!-- 
        needed for Stripe, but it does not automatically include 
      -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <!-- 
        manually added
      -->
      <!-- ecommerce paypal-payflowpro, references to 4.3.1.0, assembly v 4.3.1.0, will not run without -->
      <dependentAssembly>
        <assemblyIdentity name="Payflow_dotNET" publicKeyToken="14aa1e8d77f2a97c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <!-- 
        manually added
      -->
      <!-- early build of ContensiveBaseModels had assembly version, should be set to 4.1.2.0 compatibility -->
      <dependentAssembly>
        <assemblyIdentity name="ContensiveDbModels" publicKeyToken="c014b235a9c6bb22" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
