<appSettings>
	<add key="ContensiveAppName" value=""/>
	<add key="DefaultCORSAllowOrigins" value="https://app.myApp1.com,https://app.myApp2.com"/>
	<add key="DefaultCORSAllowMethods" value="GET,PUT,POST,DELETE,PATCH,OPTIONS"/>
	<add key="DefaultCORSAllowHeaders" value="Origin,X-Requested-With,Content-Type,soapaction,Accept,Authorization"/>
</appSettings>
