<appSettings>
	<add key="ContensiveAppName" value=""/>
	<add key="DefaultCORSAllowOrigin" value="https://app.myApp.com"/>
	<add key="DefaultCORSAllowMethods" value="GET,PUT,POST,DELETE,PATCH,OPTIONS"/>
	<add key="DefaultCORSAllowHeaders" value="Origin,X-Requested-With,Content-Type,soapaction,Accept,Authorization"/>
</appSettings>
