<rules>
	<!-- 
	forward http to https - url rewrite module must be installed,  see iis web platform installer 
	-->
	<rule name="forward http to https" enabled="false" stopProcessing="false">
		<match url="(.*)" />
		<conditions>
			<add input="{HTTPS}" pattern="^OFF$" />
		</conditions>
		<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
	</rule>
	<!-- 
	forward to www (only for simple www and naked domain case. If other domains are used, do not use.
	-->
	<rule name="Redirect naked domains to www" enabled="false" stopProcessing="false">
		<match url="(.*)" />
		<conditions logicalGrouping="MatchAll">
			<add input="{HTTP_HOST}" negate="true" pattern="^www\." />
			<add input="{HTTP_HOST}" negate="true" pattern="\.menucrm\." />
			<add input="{HTTP_HOST}" negate="true" pattern="\.sitefpo\." />
			<add input="{HTTP_HOST}" negate="true" pattern="\.memberboss\." />
		</conditions>
		<action type="Redirect" url="https://www.{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
	</rule>	
	<!-- 
	remove trailing slash
	-->
	<rule name="Remove trailing slash" enabled="true" stopProcessing="false">
		<match url="(.*)/$" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		</conditions>
		<action type="Redirect" url="{R:1}" redirectType="Permanent" />
	</rule>
</rules>