<rules>
	<!-- 
	remove to block redirect from http to https - url rewrite module must be installed,  see iis web platform installer 
	-->
	<rule name="forward http to https" stopProcessing="false">
		<match url="(.*)" />
		<conditions>
			<add input="{HTTPS}" pattern="^OFF$" />
		</conditions>
		<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
	</rule>
	<!-- 
	remove to block forward naked domain to www (only for simple www and naked domain case. If other domains are used, do not use.
	-->
	<rule name="Redirect naked domains to www" stopProcessing="true">
		<match url="(.*)" />
		<conditions logicalGrouping="MatchAll">
			<add input="{HTTP_HOST}" negate="true" pattern="^www\." />
			<add input="{HTTP_HOST}" negate="true" pattern="\.menucrm\." />
			<add input="{HTTP_HOST}" negate="true" pattern="\.sitefpo\." />
			<add input="{HTTP_HOST}" negate="true" pattern="\.memberboss\." />
		</conditions>
		<action type="Redirect" url="https://www.{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
	</rule>
</rules>
